<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robet.rtrain">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/trains"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trains"
        android:supportsRtl="true"
        android:theme="@style/CatChilds">
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ClientPage.userLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.adminLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.guestLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.Index"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.forgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.adminForgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.adminForgot2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.TrainShow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.IndexAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminManageUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminManageData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.UserAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.UserEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminManageAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminManageTrainAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminManageTrainEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminManageTrainShow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.AdminAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.ItemShow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.ItemEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage.ItemAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.ItemMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.UserSetting"
            android:screenOrientation="portrait" />

        <service android:name=".notification.pushNotificationToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/trains" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@drawable/trains" />

        <activity
            android:name=".ClientPage.SeatPick"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.PurchaseTicket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.PurchaseTicketGuest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.Shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.HistoryItems"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientPage.HistoryTickets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".promo.promoMuharram"
            android:screenOrientation="portrait" />
        <activity android:name=".promo.PromoBuy5Get1"></activity>
    </application>

</manifest>