<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robet.rtrain">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/trains"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trains"
        android:supportsRtl="true"
        android:theme="@style/CatChilds">
        <activity
            android:name=".Welcome"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ClientPage.userLogin" />
        <activity android:name=".AdminPage.adminLogin" />
        <activity android:name=".ClientPage.guestLogin" />
        <activity android:name=".ClientPage.Index" />
        <activity android:name=".ClientPage.forgot" />
        <activity android:name=".ClientPage.register" />
        <activity android:name=".AdminPage.adminForgot" />
        <activity android:name=".AdminPage.adminForgot2" />
        <activity android:name=".ClientPage.TrainShow" />
        <activity android:name=".AdminPage.IndexAdmin" />
        <activity android:name=".AdminPage.AdminManageUser" />
        <activity android:name=".AdminPage.AdminManageData" />
        <activity android:name=".AdminPage.AdminSetting" />
        <activity android:name=".AdminPage.UserAdd" />
        <activity android:name=".AdminPage.UserEdit" />
        <activity android:name=".AdminPage.AdminManageAdmin" />
        <activity android:name=".AdminPage.AdminManageTrainAdd" />
        <activity android:name=".AdminPage.AdminManageTrainEdit" />
        <activity android:name=".AdminPage.AdminManageTrainShow" />
        <activity android:name=".AdminPage.AdminEdit" />
        <activity android:name=".AdminPage.AdminAdd" />
        <activity android:name=".AdminPage.ItemShow" />
        <activity android:name=".AdminPage.ItemEdit" />
        <activity android:name=".AdminPage.ItemAdd" />
        <activity android:name=".ClientPage.ItemMore" />
        <activity android:name=".ClientPage.UserSetting" />

        <service android:name=".notification.pushNotificationToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/trains" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@drawable/trains" />

        <activity android:name=".ClientPage.SeatPick" />
        <activity android:name=".ClientPage.PurchaseTicket" />
        <activity android:name=".ClientPage.History" />
        <activity android:name=".ClientPage.PurchaseTicketGuest" />
        <activity android:name=".ClientPage.Shop" />
        <activity android:name=".ClientPage.HistoryItems" />
        <activity android:name=".ClientPage.HistoryTickets" />
    </application>

</manifest>